@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Global CSS */
.def-btn {
  padding: 10px 20px !important;
}

/* navbar CSS Header CSS */
.header__part {
  background: url("./images/Header.png");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.singup {
  background-color: #f3254e;
  color: #fff !important;
  border-radius: 50px;
}
.search-btn {
  background-color: #f3254e;
  color: #fff !important;
  cursor: pointer;
}
.order {
  background-color: #f3254e;
  color: #fff !important;
  cursor: pointer;
  border-radius: 10px;
}
/* Break Fast lanch Dinnar */
#eat_time {
  text-align: center;
  width: 100%;
  margin: auto;
}
#eat_time a {
  text-decoration: none;
  margin-left: 2rem;
  font-weight: 600;
}

.active {
  color: #f3254e;
}
/* .active::after {
  content: "";
  width: 80px;
  margin: 0 auto;
  height: 2px;
  background-color: #ff4565;
  display: inline-block;
} */

.food__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.food_item {
  margin-top: 5rem;
}
.food__section .food_item img {
  border-radius: 10px;
}
.food__section .food_item p {
  text-align: justify;
  padding: 1rem;
}

/* Why you choice me  */
#choiceMeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

footer {
  width: 100%;

  background-color: #343a40 !important;
  margin-top: 5rem;
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 3rem 0rem;
}
.wrapper a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
}
.wrapper a:hover {
  color: #ff4565;
  transition: ease 0.3s;
}
.details a {
  display: block;
}
.temrs_policy ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.temrs_policy ul li {
  list-style: none;
}
.temrs_policy a {
  display: block;
}

/*___________ For Tablte Version Responsive ____________ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .food__section {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* _______ For Mobile Version Responsive ________ */
@media screen and (max-width: 767px) {
  .food__section {
    grid-template-columns: repeat(1, 1fr);
  }
  #choiceMeContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
